article {
    font-family: $paragraphText;
    word-break: keep-all;
    word-wrap: normal;
    text-align: left;
    word-wrap: normal;
    position: relative;
    @include border-radius(0px);

    .timeAgo {
        position: absolute;
        bottom: 3px;
        right: 3px;
    }
    .previewText {
        font-family: $paragraphText;
        margin-top: 25px;
    }

    .articleThumb {
        float: left;
        height: 125px;
        width: 125px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 5px solid $orange;
        padding: 5px;
        display: inline-block;
        @include border-radius(50%);
        margin-left: -4px;
        margin-right: 5px;
    }
    .heat {
        mask: url("assets/img/heat.png");
        -webkit-mask: url("assets/img/heat.png") top left / cover;
        $size: 25px;
        height: $size;
        width: $size;
        background-color: $orange;
        float: right;
    }
    .heat-8 {
        background-color: darken($orange, 10);
    }
    .heat-7 {
        background-color: darken($orange, 20);
    }
    .heat-6 {
        background-color: darken($orange, 30);
    }
    .heat-5 {
        background-color: darken($orange, 40);
    }
    .heat-4 {
        background-color: darken($orange, 50);
    }
    .heat-3 {
        background-color: darken($orange, 60);
    }
    .heat-2 {
        background-color: darken($orange, 70);
    }
    .heat-1 {
        background-color: darken($orange, 80);
    }
    .heat-0 {
        background-color: darken($orange, 90);
    }
}
.full-mainArticle {
    margin: 0 10px;
}
#bigArticle {
    border-top-left-radius: 0% !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;

    border-bottom: 2px solid $mainBorderClr;

    .title {
        font-family: $navText;
        font-weight: bolder;
        margin-top: 0px;
        margin-bottom: -4px;
    }

    #baThumb {
        float: left;
        min-width: 300px;
        width: 40%;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 2px;
        border: 5px solid $orange;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

#leftCol {
    article {
        /*border-right: 2px solid $mainBorderClr;
        border-bottom: 2px solid $mainBorderClr;
        padding: 0px 5px 5px 0px;*/
    }
}
#rightCol {
    float: right;
    article {
        /*border-left: 2px solid $mainBorderClr;
        border-bottom: 2px solid $mainBorderClr;
        padding: 0px 0px 5px 5px;*/
    }
}
