aside {
    background-color: $darkGrey;

    .userIcon {
        color: $orange;
        background-color: $orange;
    }
    .addIcon {
        @include icon(before, add);
        color: $lightGrey;
    }

    .sourceIcon {
        color: $lightGrey;
        &.reddit {
            @include icon(before, reddit);
        }
    }
}
